{% extends 'ui/base.html' %}

{% load i18n %}

{% block title %}{% translate 'Courses' %}{% endblock %}

{% block content %}
<h1 class="display-1">{{ title }}</h1>

<div class="row gap-4">
  {% for course in course_list %}
  <div class="col-12 col-md-6 col-lg-4">
    <article class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
      <button type="button"
        class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill"
        aria-label="Close"></button>

      <svg class="bi mt-5 mb-3" width="48" height="48">
        <use xlink:href="#check2-circle"></use>
      </svg>

      <h1 class="text-body-emphasis">{{ course.name }}</h1>

      <p class="col-lg-6 mx-auto mb-4">
        {{ course.headline }}
      </p>

      <button class="btn btn-primary px-5 mb-5" type="button">
        Call to action
      </button>
    </article>
  </div>
  {% endfor %}
</div>
{% endblock %}