{% extends 'ui/base.html' %}{% load i18n wagtailcore_tags wagtailimages_tags %}

<!---->
{% block content %}
<div class="container mx-auto px-4 py-20">
  <section class="grid gap-8">
    <div
      class="hero relative bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-50% to-emerald-500 to-90% rounded-box md:aspect-video"
    >
      <div class="hero-content flex flex-col gap-8">
        <h1 class="text-3xl text-primary font-black lg:text-7xl">
          {% trans 'House Of Wisdom' %}
        </h1>

        <p class="lead text-primary">
          {% blocktrans trimmed %}Welcome to House Of Wisdom AI-powered Learning
          Management System (LMS) designed to transform how education is
          delivered online.{% endblocktrans %}
        </p>
      </div>
    </div>

    {% if paths %}
    <section class="grid gap-8">
      <h2 class="text-primary text-2xl font-semibold lg:text-4xl">
        {% trans 'Latest learning paths' %}
      </h2>

      <ol class="grid grid-cols-12 gap-4">
        {% for path in paths %}
        <li class="col-span-12 md:col-span-6 lg:col-span-4">
          {% include 'ui/components/path.html' %}
        </li>
        {% endfor %}
      </ol>
    </section>
    {% endif %}

    {% if courses %}
    <section class="grid gap-8">
      <h2 class="text-primary text-2xl font-semibold lg:text-4xl">
        {% trans 'Latest courses' %}
      </h2>

      <ol class="grid grid-cols-12 gap-4">
        {% for course in courses %}
        <li class="col-span-12 md:col-span-6 lg:col-span-4">
          {% include 'ui/components/course.html' %}
        </li>
        {% endfor %}
      </ol>
    </section>
    {% endif %}

    {% if categories %}
    <section class="grid gap-8">
      <h2 class="text-primary text-2xl font-semibold lg:text-4xl">
        {% trans 'Categories' %}
      </h2>

      <ol class="grid grid-cols-12 gap-4">
        {% for category in categories %}
        <li class="col-span-12 md:col-span-6 lg:col-span-4">
          {% include 'ui/components/category.html' %}
        </li>
        {% endfor %}
      </ol>
    </section>
    {% endif %}

    {% if articles %}
    <section class="grid gap-8">
      <h1 class="text-primary text-2xl font-semibold lg:text-4xl">
        {% trans 'Latest news' %}
      </h1>

      <ol class="grid grid-cols-12 gap-4">
        {% for article in articles %}
        <li class="col-span-12 md:col-span-6 lg:col-span-4">
          <article
            class="card card-sm lg:card-md xl:card-lg 2xl:card-xl bg-base-200 size-full shadow-sm"
          >
            <figure class="skeleton overflow-clip">
              {% image article.image fill-1920x1080 %}
            </figure>

            <div class="card-body gap-8">
              <h2 class="card-title text-primary">{{ article.title }}</h2>

              <p>{{ article.headline }}</p>

              <a
                href="{% pageurl article %}"
                class="btn btn-sm btn-primary lg:btn-md xl:btn-lg 2xl:btn-xl"
              >
                {% trans 'Read' %}
                <i
                  data-lucide="chevron-right"
                  class="size-4 md:size-6 xl:size-7 2xl:size-8 rtl:rotate-180"
                ></i>
              </a>
            </div>
          </article>
        </li>
        {% endfor %}
      </ol>
    </section>
    {% endif %}
  </section>
</div>
{% endblock %}
