django
django-countries
django-cors-headers
django-filter
django-phonenumber-field
djangorestframework
djoser
drf-restwind
huggingface-hub
markdown
pillow
pygments
python-dotenv
wagtail
wagtail-localize
wagtailcodeblock
