<div class="relative">
  <div
    class="flex h-10 w-10 items-center justify-center rounded-md bg-gradient-to-tr from-green-400 via-sky-400 to-fuchsia-500">
    <div class="h-8 w-8 rounded bg-white"></div>
  </div>
  <div
    class="absolute inset-0 flex h-10 w-10 rotate-45 items-center justify-center rounded-md bg-gradient-to-tr from-fuchsia-500 via-sky-400 to-green-400">
    <div class="flex h-8 w-8 items-center justify-center rounded bg-white">
      <div
        class="flex h-6 w-6 rotate-45 items-center justify-center rounded bg-green-500 bg-gradient-to-tr from-lime-400 via-green-400 to-sky-400">
        <div
          class="absolute flex h-6 w-6 rotate-45 items-center justify-center rounded bg-sky-500 bg-gradient-to-tr from-sky-400 via-green-400 to-lime-400">
          <div class="h-4 w-4 rounded-sm bg-white"></div>
        </div>
      </div>
    </div>
  </div>
</div>