{% extends "ui/base.html" %}

{% block content %}
<div class="grid gap-4">
  <h1>Login</h1>
  <p>
    Welcome, please login to continue.
  </p>

  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
  {% if user.is_authenticated %}
  <p>
    Your account doesn't have access to this page. To proceed,
    please login with an account that has access.
  </p>
  {% else %}
  <p>Please login to see this page.</p>
  {% endif %}
  {% endif %}

  <form method="post" action="{% url 'ui:login' %}" class="grid gap-4">
    <input type="hidden" name="next" value="{{ next }}">

    {% include 'ui/components/form.html' %}

    <button type="submit" class="btn btn-primary dark:btn-soft">Login</button>
  </form>

  <p>
    <a href="{% url 'ui:password_reset' %}">Lost password?</a>
  </p>
</div>
{% endblock %}