{% extends 'bah_ui/base.html' %}

{% load i18n %}

{% block title %}{% translate course.name %}{% endblock %}

{% block content %}
  <h1>{{ course.name }}</h1>
  <p>{{ course.headline }}</p>
  <p>{{ course.description }}</p>

  {% for module in course.modules.all %}
    <div class="grid gap-4">
      <h2>{{ module.title }}</h2>
      <ol>
        {% for lesson in module.lessons.all %}
        <li>
          {{ lesson.name }}:

          {% for item in lesson.items.all %}
            {{ item.name }},
          {% endfor %}
          </li>
        {% endfor %}
      </ol>
    </div>
  {% endfor %}
{% endblock %}