<!-- prettier ignore -->
{% extends 'ui/base.html' %}{% load i18n %}

<!-- prettier ignore -->
{% block title %}{{ block.super }} | {% trans 'Courses' %}{% endblock %}

<!-- prettier ignore -->
{% block main %}
<section class="col-span-12 flex flex-col gap-8">
  <h1 class="text-4xl font-bold font-serif">{% trans 'Courses' %}</h1>

  <div class="grid grid-cols-12 gap-4">
    <!-- prettier ignore -->
    {% for course in course_list %}
    <div class="col-span-12 md:col-span-6 lg:col-span-4">
      <article class="card bg-base-200 hover:shadow-sm">
        <div class="card-body gap-6">
          <h1 class="text-xl font-semibold">{{ course.name }}</h1>
          <p>{{ course.headline }}</p>
          <span class="badge badge-primary">{{ course.category }}</span>
        </div>
      </article>
    </div>
    {% empty %}
    <div class="col-span-12 flex items-center justify-center gap-6">
      <h1 class="text-xl">{% trans 'No courses found' %}</h1>
      <p>{% trans 'No results' %}</p>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}